
html {
    font-size: 12px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

main {
    background-color: cadetblue;
    min-height: 600px;
    overflow: hidden; /* löst das float nach dem letzten Kind-Element wieder auf */
}

.fotoWrapper {
    text-align: center;
    width: 300px;
    float: left; /* können in der gleichen Zeile stehen, wenn genügend Platz da ist */
}

.fotoBox {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#fb1 {
    background-image: url(/img/harrison-ford.jpg);
}