
main {
    background-color: cadetblue;
    min-height: 600px;
    overflow: hidden; /* löst das float nach dem letzten Kind-Element wieder auf */
}

.fotoBox {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    float: left; /* können in der gleichen Zeile stehen, wenn genügend Platz da ist */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#fb1 {
    background-image: url(/img/harrison-ford.jpg);
}